$theme-colors: (
  "info": #fff,
  "secondary": #707070,
  "danger": #f79592,
  "success": #0c570c,
  "warning": #344648,
  "primary": #132744,
  "light": #aa8a0b,
  "dark": #000000,
);

@import "bootstrap/scss/bootstrap";
@import "dropzone";
@import "masonry";

body {
  background-color: #132744;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0.5em;
  color: #d8d0cf;
}

.color-yellow {
  color: #aa8a0b;
}
.color-gray {
  color: #d8d0cf;
}
.color-blue {
  color: #132744;
}

.center {
  display: grid;
  place-items: center;
  height: 100vh;
}
.text-button:hover {
  color: #aa8a0b;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dislike-box {
  width: 100%;
  height: 100%;
}
span.dislike-box {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding: 25%;
  position: absolute;
}

span.like {
  visibility: hidden;
}
span.dislike {
  visibility: visible;
}
